<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AviciiDev" connectionString="SERVER=yourazuredb,1433;DATABASE=Avicii;UID=USERNAME;PWD=PASSWORD" providerName="System.Data.SqlClient" />
    <add name="WaitingForLoveDev" connectionString="SERVER=yourazuredb,1433;DATABASE=Lyrics;UID=USERNAME;PWD=PASSWORD" providerName="System.Data.SqlClient" />
    <add name="GuessNoChurchSundayDev" connectionString="SERVER=yourazuredb,1433;DATABASE=Church;UID=USERNAME;PWD=PASSWORD" providerName="System.Data.SqlClient" />
    <add name="ToComeAroundDev" connectionString="SERVER=yourazuredb,1433;DATABASE=GoingDownSugar;UID=USERNAME;PWD=PASSWORD" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>